html, body, #root {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.home-text {
  width: 75%;
  height: 75%;
  margin: 10%;
  text-align: center;

}
  
div {
  position: relative;
}

.board {
  top: 10;
}

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  background: linear-gradient(90deg, rgb(110, 94, 254) 0%, rgba(73,63,252,1) 100%);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.nav-link {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 1.2rem;
}

.title {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 1.5rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end; 
  margin-right: 2rem;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 0.5rem, 1rem;
}

.nav-links:hover {
  background-color: #6d76f7;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #fff;
}

.fa-chess {
  margin-left: 10px;
}

.menu-icon {
  display: none;
}

.pipeline {
  color: #fff;
  width: 10px;
}

@media screen and (max-width: 960px) {
  .nav-item {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #6668f4;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #7577fa;
    border-radius: 0;
  }

  .title {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }
}