html, body, #root {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.home-text {
    width: 75%;
    height: 75%;
    margin: 10%;
    text-align: center;
}

div {
    position: relative;
}

.board {
    top: 10;
}

.game-player-names {
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 200px;
    width: 15vw;
}

.right-player-name {
    position:absolute;
    right: 0px;
}

.left-player-name {
    position:absolute;
    left: 0px;
}

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    background: #28527a;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.nav-link {
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 1.2rem;
}

.title {
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 1.5rem;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end; 
    margin-right: 2rem;
}

.nav-links {
    color: white;
    text-decoration: none;
    padding: 0.5rem, 1rem;
}

.nav-links:hover {
    background-color: #ffffff;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}

.fa-bars {
    color: #fff;
}

.fa-chess {
    margin-left: 10px;
}

.menu-icon {
    display: none;
}

.pipeline {
    color: #fff;
    width: 10px;
}

@media screen and (max-width: 960px) {
    .nav-item {
        position: relative;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 500px;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-menu.active {
        background: #28527a;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .nav-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .nav-links:hover {
        background-color: #28527a;
        border-radius: 0;
    }

    .title {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25%, 50%);
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .fa-times {
        color: #fff;
        font-size: 2rem;
    }
}

/* ----- */

.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-intro {
    font-size: large;
}

.Game {
    margin: 20px;
    display: flex;
    justify-content: center;
}

button {
    background-color: #5689db;
    border: 1px solid #5689db;
    border-radius: 3px;
    display: inline-block;
    color: #FFF;
    font-size: 12pt;
    padding: 7px 28px;
    text-decoration: none;
    margin: 5px;
    transition: all 0.5s;
    max-width: 160px;
    min-width: 160px;
}

button:hover {
    background-color: lightblue;
    font-size: 14pt;
}

.Board {
    display: flex;
}

.Slat {

}

.Hole {
    padding: 5px;
    margin: 1px;
    min-width: 30px;
    min-height: 30px;
    border: 1px solid lightblue;
}

.Hole div {
    position: relative;
    min-width: 30px;
    min-height: 30px;
    border-radius: 4px;
    top: -400px;
    transition: transform 0.5s;
}

.Red {
    background-color: #FA022A;
    transform: translateY(400px);
}

.Yellow {
    background-color: #FEE227;
    transform: translateY(400px);
}

.winnerMessage {
    margin: 20px;
    font-size: 0pt;
    font: 12pt;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.18, 0.99, 0.8, 1.17);
}

.appear {
    opacity: 1;
    font-size: 20pt;
}


@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}